body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Times New Roman';
    width: 100%;
    height: 100%;
    font-size: 1.1em; /*12px*/
    padding: 40px;
}
.box {
    width: 20px;
    height: 20px;
    background-color: green;
}


.change {
    background-color: #ffc800;
}
.changeBackground {
    background-color: #1200ff;
}
